{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>Application Saver</h1>
<div class="content">
    <h1><a href="/api">TEST API</a></h1>
<form action="/" method="POST">
<label>
    Company Name: 
    <input type="text" name='application_name' id='application_name' required>
</label>
<br>
<label>
    Application Link: 
    <input type="text" name='application_link' id='application_link' required>
</label>
<br>
<label>
    status: 
    <input type="text" name='application_status' id='application_status' required>
</label>
<br>
<input type="submit" value="Submit" name="formSubmit">
</form>
<br>
{% if applications|length < 1 %}
<h5>There are no Applications YET!</h5>
{% else %}
<table>
    <tr>
        <th>Application Name</th>
        <th>Application Link</th>
        <th>Status</th>
        <th>Date Applied</th>
        <th>Change</th>
    </tr>
    {% for app in applications %}
    <tr>
        <td>{{ app.application_name }}</td>
        <td>{{ app.application_link }}</td>
        <td>{{ app.status }}</td>
        <td>{{ app.date_created.date() }}</td>
        <td>
            <a href='/update/{{app.id}}'>Update</a>
            <a href='/delete/{{app.id}}'>Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</div>
{% endblock %}
